<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>

      {% if page.content.size > 0 %}
        <div class="rte">
          {{ page.content }}
        </div>
      {% endif %}

      <div class="contact-form form-vertical">
        {%- assign formId = 'ContactForm' -%}
        {% form 'contact', id: formId %}
          {% include 'form-status', form: form, form_id: formId %}


          <div class="grid grid--half-gutters">
            <div class="grid__item medium-up--one-half">
              <label for="{{ formId }}-name">お名前<span aria-hidden="true">*</span></label>
              <input type="text" id="{{ formId }}-name" name="contact[{お名前]" required value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">
            </div>
            <div class="grid__item medium-up--one-half">
              <label for="{{ formId }}-email">メールアドレス<span aria-hidden="true">*</span></label>
              <input
                type="email"
                id="{{ formId }}-email"
                name="contact[メールアドレス]"
                autocorrect="off"
                autocapitalize="off"
                required value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                aria-required="true"
                {%- if form.errors contains 'email' -%}
                  class="input--error"
                  aria-invalid="true"
                  aria-describedby="{{ formId }}-email-error"
                {%- endif -%}
                >
              {%- if form.errors contains 'email' -%}
                <span id="{{ formId}}-email-error" class="input-error-message">
                  <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                  {% include 'icon-error' %}
                  <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
                </span>
              {%- endif -%}
            </div>
          </div>

          <label for="{{ formId }}-phone">電話番号<span aria-hidden="true">*</span></label>
          <input type="tel" id="{{ formId }}-phone" name="contact[電話番号]" pattern="[0-9\-]*"required value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}">

    
          <script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
          <!-- ▼郵便番号入力フィールド(7桁) -->
          <label for="yu-binnum">郵便番号(任意)</label>       
          <input type="text" name="zip11" id="yu-binnum" size="10" maxlength="8" onKeyUp="AjaxZip3.zip2addr(this,'','addr11','addr11');">
          <!-- ▼住所入力フィールド(都道府県+以降の住所) -->
          <label for="text">住所(任意)</label>
          <input type="text" name="addr11" id="text" size="60">
                
          <label for="num">注文番号(任意)</label>
          <input
            type="text"
            id="num"
            name="contact[注文番号]"
            placeholder=""
          />    
        
          <label for="{{ formId }}-message">お問い合わせ詳細<span aria-hidden="true">*</span></label>
          <textarea required rows="10" id="{{ formId }}-message" name="contact[お問い合わせ詳細]">{% if form.body %}{{ form.body }}{% endif %}</textarea>

          <p>メールでのご返信を基本としておりますが、内容によってはお電話にてご連絡させていただく場合もございます。<br>あらかじめご了承くださいませ。</p>   
       
          <input type="submit" class="btn" value="{{ 'contact.form.submit' | t }}">

        {% endform %}
      </div>
    </div>
  </div>
</div>
